$secondry-color : #276893;
$secondry-color-light : #D6E1E5;
$black : #3E4149;
$black2 : #32363E;
$grey : #6D6E70;
//$primary-color2 : #2874f0;
$primary-color2 : #276893;
$primary-color2-cont: #1d53ab;
$golden : #ffe11b;
