button {
  color: lightblue;
  background: red;
  border: none;
  box-shadow: 2px 2px; }

.btn-holder {
  text-align: center;
  margin: 5px; }

.home-page-container {
  position: absolute;
  top: 50%;
  left: calc(50% - 50px); }

.home-page-container.colored {
  width: calc(100% - 10px);
  position: inherit;
  padding: 20px; }
