body {
  font-family: "Open Sans", sans-serif;
  height: 100vh; }

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: url("../img/login-background.jpg") 50% fixed;
  background-size: cover;
  color: #fff; }

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 30px 20px 30px;
  // width: 90%;
  max-width: 370px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }

.epos-main-content {
  margin-left: 20px;
  border-radius: 2px 2px 5px 5px;
  padding: 20px 13px 20px 13px;
  width: 90%;
  max-width: 370px;
  background: transparent;
  position: relative; }

.epos-main-content .hepo-title {
  color: white;
  font-weight: bold; }

.epos-content h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.epos-content h3 {
  color: green;
  font-weight: bold;
  margin-top: 0px;
  text-transform: uppercase; }

.epos-content h2 strong {
  color: green;
  font-weight: bold;
  text-transform: uppercase; }

.epos-content .instantAcc {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px; }

.epos-content .reated-eops {
  color: white;
  letter-spacing: 1px; }


.login input {
  outline: none;
  color: #666;
  border-left-width: 35px; }



