
.right-container{

	.add-fields{
		background: #fff;
		width: 100%;
		float: left;
		padding: 15px 5px;
		border-radius: 3px;
	}

	.Filter-by-category{
		background: #fff;
		width: 100%;
		float: left;
		padding: 15px 5px;
		border-radius: 3px;
	}

	.checkbox-chk{

		background: #fff;
		width: 100%;
		float: left;

		border-radius: 3px;
	}

	.product-details{
		margin-bottom: 20px;
		background: #fff;
		width:100%;
		margin: auto;
		//float: left;
		padding: 15px 5px;
		border-radius: 3px;
	}
}
