 
input[type="button"] , .btn.btn-default,.btn-primary{
	background: $primary-color2;
  color: white;
  padding: 8px 25px;
  line-height: inherit;
  border-radius: -9px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .12);
  padding: 10px 20px;
}
.btn{
	padding: 8px 25px;
	border-radius: none;
	border:none;
	text-transform: capitalize;
}
.glyphicon-edit,.glyphicon-remove{
  cursor: pointer;
}
input.cancel{
	background-color: rgb(247, 89, 89);
	color: #fff;
}
.radio, .checkbox{
  margin-top: auto ;
}
.buttonBtn{
	width: 100%;
    float: left;
    margin-top: 20px;

    .cancelBtn{
    	display: inline-block;
    }
    .add-otherBtn{
    	display: inline-block;

    	.add-other{
    		margin-right: 10px;
    	}
    }
}

.filter-by,
.filter-by-brand,
.filter-by-product,
.filter-by-name,
.filter-by-multi-product,
.filter-bye{
	    margin-top: 10px;
	    width: 100%;
	    border: 1px solid #ddd;
	    float: left;
	    margin-bottom: 30px;
	    background: white;
	    padding: 15px;
	    border-radius: 5px;
	    box-shadow: 2px 3px 2px 1px rgba(0,0,0,0.1);
		input.input-text-fields{
		width: 50%;
	    display: inline-block;
	    padding: 18px 12px;
	    margin-right: 10px;
	}
}

.staff-table{
	clear: both;
	table.staff-list-tabel{
		thead{
			tr{
				th{
					background: $primary-color2-cont;
					background: $primary-color2;
					color: #fff;
					font-weight: normal;
					// text-align: center;
				}
			}
		}
		tbody{
			tr{
				td , input[type="password"]{
					// text-align: center;
				}
			}
		}
	}
}

label {
  font-weight: 500;
  color: #777;
  text-transform: uppercase;
}

.down-select-btn-commn{
	//margin-top: 10px;
}

.txtalignRight {
text-align: right; }

.export-to-file ul.export-btns{

	list-style: none;
	display: flex;
}
.export-to-file ul li{
	padding: 0px 10px;
}

.margt25{
	margin-top: 25px !important;
}

.margt10{
	margin-top: 10px;
}
.staff-table{
  width: 100%;
overflow: hidden;
overflow-x: auto;
}

.ReactTags__tag{
  border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
   
    border-radius: 2px;
     a.ReactTags__remove {
        color: #aaa;
        font-size: 12;
        margin-left: 5px;
        cursor: pointer;
    }
}
.ReactTags__tagInput{
  display: inline-block;
  input{
    display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}


.margt30{
	margin-top: 30px !important;
}

.margb30{
	margin-bottom: 30px !important;
}

.margt20{
	margin-top: 20px !important;
}

.marr5{
	margin-right: 5px;
}

.form-control{
	border-radius: 0px;

}

.form-control:focus {
    border-color: #0e5889;
    outline: 0;
    box-shadow: none;
}