@import url('https://fonts.googleapis.com/css?family=Roboto');
 
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  //padding-top: 50px;
  font-family: 'Roboto', sans-serif;

}a{
  cursor: pointer;
}
.dashboard{
 height: 100%;
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-brand{
  display: block;
  width: 100%;
  float: none;  
  margin: 0 !important;
  img{
    display: inline-block;
  }
  span.toggleMbtn{
    // margin-left: 4%;
    background:$primary-color2 url(../img/burger.png) center center no-repeat;
    display: inline-block;
    width: 25px;
    height: 20px;
    /* background: red; */
    padding: 7px;
    /* background-repeat: no-repeat; */
    left: 14%;
    position: relative;
    top: 10%;
  }
  span.toggleMbtn.t{
    &::before{
      //content: "-";
      border-top: 1px solid;
      border-bottom: 1px solid;
      height: 0px;
    }
  }

  span.toggleMbtn.f{
    &::before{
     // content: "x"
    }
  }
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  height: 60px;
  .container-fluid{
    padding-left: 0;
  }
}
.nav-background{
  margin-bottom: 0;
  //background: #E7EAEB;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}
.top-navigation{
//height: 60px;
//overflow: hidden;
.user-profile{
  .btn-default{
    height: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color:$secondry-color;
     padding: 0;
    .caret{
      border:none;
      width: auto;
    height: auto;
    font-size: 18px;
    font-weight: bold;
      font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    &::before{
      content: "\E90F";
    }
    }
  }

  .dropdown-menu{
    padding: 0;
    li:not(last-child){
      border-bottom:1px solid #ccc;
    }
    a{
          padding: 8px 10px;
          &:hover{
            color: #fff;
            background: $secondry-color;
          }
    }
  }
}
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidemenu-buttons{

}
.sidebar {
  //overflow: hidden !important;
  // margin-top: -50px;
  //background-color: #3E4149;
  padding:0px 0;
  float: left;
  position: fixed;
  transition: all 350ms ease-in-out;
  > ul{

    padding: 0;
    > li{
      color:$grey;
      padding: 5px 15px;
      cursor: pointer;
      list-style: none;
      span{
        display: block;
        padding:10px 5px;
        text-transform: capitalize;
        background: $black2;
        transition: all 350ms ease-in-out;
        &:hover{
        //  color: #6D6E70;
        }
        &.is-open{
          background:$primary-color2;
          color: #fff;
        }
      }
      a{
          padding: 10px 20px;
          display: block;
           color: inherit;
          
          
          text-decoration: none;text-transform: capitalize;
      }
      ul{
        padding: 10px 0 0 0;

        >li:not(last-child){
          //border-bottom:1px solid #6D6E70;
         // border-bottom:1px solid  #D5E0E4;
        }
      }
    }
    li a:hover{
      color:#fff;
    }
    >li:not(last-child){
      //border-bottom:1px solid #6D6E70;
     // border-bottom:1px solid  #D5E0E4;
     
    }
    >li a:hover,a.active{
      color:#fff;
      //background:#0E5889;
     
    }
  }
}
.sidebar.toggleState{
  width: 0px;
 
}
.mainDiv{
  float: left;
  width: 83.33333333%; 
  transition: all 350ms ease-in-out;
  margin-left: 16.33%;
}
.mainDiv.menuToggle{
  width: 100%;  
  margin-left: 0 
}
/* right container backgound color */
.right-container{
  //background: #E7EAEB;
  height: 100%;

  .upgrate{
    text-align: right;
    padding: 10px 0px;
    width: 100%;
    float: left;

    a{
      text-decoration: none;
    }
  }

  .license-link{
      padding: 20px 0px 0px 0px;
    h1.add-title{
        margin-top: 0;
        float: left;
        font-size: 19px;
        color: #777;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: Roboto;
        font-weight: 200;

        img{
          width: 13px;
          position: relative;
          top: -7px;
          left: -4px;
        }
    }
  }

  .common-info{
    padding: 7px 0px 0px 0px;
    margin-bottom: 20px;
    clear: both;

    h1.title{
      display: inline-block;
      margin-top: 0px;
      font-size: 21px;
      color: #777;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-family: Roboto;
      font-weight: 200;

      img{
          width: 13px;
          position: relative;
          top: -7px;
          left: -4px;
        }
    }

  }

  .parainfo{
    padding: 7px 0px 15px 0px;
    clear: both;
    color: #77778c;
  }
}
.main-container{
  padding-top: 60px;
  // padding-top: 113px;
  height: 100%;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  margin-left: -20px;
}
.navbar-nav > li > a {
  padding-right: 20px;
  padding-left: 40px;
}

.navbar-nav > li > a span{

}

.navbar-nav > li > a span i{
    color: white;
    position: relative;
    left: 6px;
    top: 1px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  //background-color: #0e5889;
  background: #3E4149
}

.nav-sidebar > li > a{
  //color: #92959c;
  color: #D5E0E4;
  
}
.nav > li > a{
  font-size: 16px;
  text-transform: uppercase;
}

.nav > li > a .sidebar-menu-icon{
  font-size: 16px;
}

.sidebar-submenu li.sidebar-menu-item{
  list-style: none;
}

.sidebar-submenu li.sidebar-menu-item a{
  text-decoration: none;
  //color: #92959c;
  color: #D5E0E4;
  
  font-size: 16px;

}
.no-padding{
  padding: 0;
}
.main-nav{
  background:$secondry-color-light;
  padding: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 100%;
  box-shadow: none;
  .navbar-nav,.navbar-nav li,.navbar-nav li a{
    height: 100%;
  }
   li{
     color:$black;
      font-size: 16px;
       //border-bottom: 2px solid transparent;
       margin-bottom: 0;
    cursor: pointer;
    &:not(:last-child){
      border-right: 1px solid rgba(255,255,255,.2);
    }
    a{
      color: inherit;
      // padding-left:  40px;
      // padding-right: 23px;
      padding: 0 1.8em 0 3em;
      font-weight: 600;
      font-size: 14px;
      line-height: 56px;
      transition: all ease-in-out 300ms;
    }
    .icon{
      font-weight: 100;
      font-size: 26px;
      margin-right: 5px;
      position: absolute;
      left: 8px;
      top: 15px;
    }
   }
   li.active, li:hover{
    //  color: #276893;
    //  border-color:#276893;
    // background:#276893;
     a{
       //color: #fff!important;
       background: inherit;
       box-shadow: none;
       color:$primary-color2 !important;
       border-bottom: 2px solid;
      
     }
   }
}
/*
 * Main content
 */
div{
  position: relative;
}
.main {
  padding: 20px;
}
@media (min-width: 1024px) {
  .main-container::before {
      // width: 16.66666667%;
      // height: 100%;
      // content: "";
      // background-color: #3E4149;
      // position: fixed;top:0;left: 0;
  }
 .main-nav{
    position: relative;
    // left: 16.66666667%;  
      z-index: 1;
  }
  .app-container{
    //padding-top: 50px;
    height: 100%;
  }
  .sidebar {
 
    > ul{
      //overflow: hidden;
      padding: 0;
      /* padding: 100px 0; */
      position: relative;      
      height: 100vh;
      /* top: -106px; */
      //background-color: #3E4149;
      background:$black;
      overflow-y: auto;
      left: 0;
      padding-bottom: 100px;
      max-height: 100%;
      > li{
        padding: 0;
      }
    }
  }
}
.main .page-header {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .container-fluid{
    padding: 0;
    .navbar-brand{
      padding: 8px;
    }
  }
    .mainDiv{
      width: 100%;
      margin-left:0;
      padding: 110px 15px 15px 15px;
    }
    .user-profile {
      .dropdown.btn-group, .btn-default{
        width: 100%;
      }
      .btn-default{
        
        text-align: right;
        overflow: hidden;
      }
    }
    
    .main-nav{
      span.text{display: none !important;}
      .icon{  
          font-size: 40px !important;
          position: relative !important;
          top: initial !important;
      }
    }
    .sidebar{
      position: fixed;
      width: 80%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background:$black;
      top: 109px;
      z-index: 9999;
      max-height: 100%;
      overflow-y: auto;
      ul{
        overflow: hidden;
        > li ul > li:not(last-child){
          border: none;
        }
      }
    }
 .nav > li > a{
      padding: 24px !important;
}
 .userprofile{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    
    height: 50%;
  }
 #navbar{
  display: flex;
  overflow-x: auto;
  }
}
@media (max-width: 768px) {
  .filter-by,.col-xs-12,.col-sm-12{
    padding: 5px;
  }
  .sidebar > ul > li{
    padding: 0;
  }
  .navbar-nav{
    margin: 0;
    padding: 0 10px;
    
  }
  .main-nav li{
    display: inline-block;
    .icon{    font-size: 30px !important;

    }
  }
  .nav > li > a{
    padding: 10px 15px 10px 0px!important;
 }
 .navbar-nav .open .dropdown-menu{
  background: #fff;
  box-shadow: 0px 0px 10px;
 }
}

@media(min-width: 768px){
  #navbar.navbar-nav{
    margin: 0;    
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    float: none;
  }
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
}

.staff-list-tabel{
  input{
    background: transparent;
    border: none;
    width: 100px;
  }
  input.input-editmode{
    border:1px solid #ccc;
  }
}


@media(max-width: 1366px){
  .dashboard .main-nav li 
  {
    .icon{
      font-size: 20px;
    }
    a{
      font-size: 12px;
    }
  }
  .dashboard .navbar-brand span.toggleMbtn{
    left:0;
  }
}