@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon-fonts/icomoon.eot?af7nv0');
  src:  url('../fonts/icon-fonts/icomoon.eot?af7nv0#iefix') format('embedded-opentype'),
    url('../fonts/icon-fonts/icomoon.ttf?af7nv0') format('truetype'),
    url('../fonts/icon-fonts/icomoon.woff?af7nv0') format('woff'),
    url('../fonts/icon-fonts/icomoon.svg?af7nv0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app:before {
  content: "\e900";
}
.icon-banking:before {
  content: "\e901";
}
.icon-checkbox:before {
  content: "\e902";
}
.icon-checkbox-selected:before {
  content: "\e903";
}
.icon-company:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-mangement:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-password:before {
  content: "\e908";
}
.icon-reports:before {
  content: "\e909";
}
.icon-restore-data:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e90c";
}
.icon-support:before {
  content: "\e90d";
}
.icon-till:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-webstore:before {
  content: "\e910";
}
