
.SearchFieldset{
	margin-top: 50px;
	margin-bottom: 15px;
	padding: 20px;
	background: #fff;

	.Filter-categories{
		margin-bottom: 15px;

		select{
			width: 50%;

		}
	}

	.filter-product{

		input[type="text"]{
			padding: 5px 14px;
			width: 50%;
		}

	}
}

.show-details-chkbox{
	    margin-bottom: 20px;
	    padding: 12px 20px;
	    background: #fff;
	    width: 100%;
	    height: 130px;
}









.Table-details{
		width: 100%;
	.Details{
		width: 100%;
		tr.table-header{

			td{
				background: #00b5f9;
			    margin: -1px -1px 1px;
			    padding: 10px;
			    color: #FFF;
			    white-space: nowrap;
			}
		}
	}
}

.Table-details{
	width: 100%;
	.Details{
		width: 100%;
		tr{

			td{
				font-size: 13px;
				padding: 6px;
				vertical-align: middle;
				text-align: left !important;

    			label{
					display: block;
					line-height: 2.0;
    			}

    			input[type="text"]{
					margin: 0;
					border: solid 1px #555555;
				    font-size: 14px;
				    padding: 6px 1%;
				    color: #000000;
    			}
			}
		}
	}
}

.SearchFieldsetCtegory{

	margin-top: 50px;
	margin-bottom: 15px;
	padding: 20px;
	background: #ccc;

	.filter-category{
		select{
			width: 30%;
    		display: -webkit-inline-box;
		}
		label{
			margin-right: 10px;
		    font-weight: 400;
		    letter-spacing: 1px;
		    font-size: 14px;
		}
	}

}

.single-row{
	label{
		display: block;
	}
	.form-control{
		width: 50%;
		display: inline-block;
	}
	.down-select-btn-commn{
		width: 50%;
		display: inline-block;
		    text-align: right;
	}
}
.product-details{
	.form-group{
		height: 100px;
	}

}
