 .checkbox{
   input{
     display: none;
   }
   input+label{
     height: 30px;
     position: relative;
     padding: 0;
     margin-right: 20px;
     padding-left: 5px;
     text-transform: lowercase;
   }
   input+label:before{
     content: "";
     width: 20px;
     height: 20px;
     border-radius: 5px;

     display: block;
     position: absolute;
     left: -20px;
     font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    font-weight: bold;
   }
   input[type=checkbox]+label:before{
      content: "\E902";

   }
   input[type=checkbox]:checked+label:before{
        content: "\e903";
   }
   input[type=radio]+label:before{
      content: "\E902";

   }
   input[type=radio]:checked+label:before{
        content: "\e903";
   }
 }
.hideDiv{
  display: none;
}
.inner-checkBox{
  .checkbox-inline + .checkbox-inline{
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.inner-checkBox{
 
  background: #E7EAEB;
  border-radius: 5px;
  padding: 14px;
  box-shadow: 2px 3px 5px #E7EAEB;
  margin-bottom: 20px;
  .radio-inline, .checkbox-inline{
    width: 300px;
  }
}
