html,body,#root{
  height: 100%;
}
body{
 font-family: 'Roboto', sans-serif;


}

.wrapper {
 display: flex;
 align-items: center;
 flex-direction: initial;
 justify-content: center;
 width: 100%;
 min-height: 100%;
 padding: 10px;
 background: url("../img/login-background.jpg") 50% fixed;
 background-size: cover;

}

.login {
   border-radius: 2px 2px 5px 5px;
   padding: 10px 30px 20px 30px;
   //width: 30%;
   background: #ffffff;
   position: relative;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
   }


.epos-content {
  margin-bottom: 40px;
}

.epos-main-content .hepo-title{
 color: white;
 font-weight: bold;
}
.epos-content h2{
 color: white;
 font-weight: bold;
 text-transform: uppercase;

}

.epos-content h3{
 color: green;
 font-weight: bold;
 margin-top: 0px;
   text-transform: uppercase;

}
.epos-content h2 strong{
 color: green;
 font-weight: bold;
 text-transform: uppercase;
}
.epos-content .instantAcc{
 color: white;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 20px;
}

.epos-content .reated-eops{
 color: white;
 letter-spacing: 1px;
}
.login-logo{
  width: 70%;
}
.login {
  input[type=text],input[type=password] {
    @include inputStyle();
  }
  input + i.fa {
     font-size: 20px;
     position: absolute;
     margin-top: -46px;
     left: 39px;
  }
  input[input='text'], input[type='password'] {
   outline: none;

   padding:10px 10px;
  }
  p{
    margin-top:6px;
    a {
     font-size: 13px;
     color: #2196F3;
     text-decoration: none;
    }
  }
  .title {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    padding-bottom: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.regsiter{
  input {
    @include inputStyle();
  }

  .row{
      background: #fff;
      padding: 20px;
      border-radius: 5px;

      p{

        input[type="text"], input[type="password"]{
          padding: 6px 10px !important;
        }
      }

    .title{
        text-transform: uppercase;
        margin-bottom: 17px;
        margin-top: 10px;
        font-size: 30px;
        letter-spacing: 0;
        font-family: roboto;
        font-weight: 500;
    }

    .register-btn{
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0px;
        font-size: 19px;
        letter-spacing: 1px;
        font-family: roboto;
        font-weight: 500;
        border: none;
    }
  }
}

@media (min-width:768px) {
  .regsiter{
    > .row{
      width: 70%;
      margin: 0 auto;

      p{

        input[type="text"], input[type="password"]{
          padding: 10px 10px;

          margin-bottom: 15px;
        }
      }
    }
  }

  .wrapper{

    .login{

    }
  }
}
@media (max-width:768px) {
 .regsiter.container  {width: 100%;}
}
